* {
    box-sizing: border-box;
}
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    object-fit: cover;
}
.nav{
    position: fixed;
    margin-top: 50px;
    width: 80px;
    height: 270px;
    background-color: rgb(135, 31, 231);
    border-radius: 0px 5px 15px 0px;
}
.logo{
    margin-top: 10%;
    margin-left: 10%;
    width: 40px;
    height: 50px;
}
.classes{
    position: relative;
    top: 20px;
    left: 18px;
    border: 1px;
    width: 40px;
    height: 50px;
    margin-top: 20px;
}
.add{
    position: relative;
    top: 0px;
    left: 16px;
    border: 1px;
    width: 45px;
    height: 50px;
}
.profil{
    position: relative;
    top: 0px;
    left: 12px;
    border: 1px;
    width: 45px;
    height: 50px;
    margin-top: 10px;
}
.gaptext{
    padding : 0;
    margin : 0;
    line-height : 20px;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.box{
    border: 1px #dd0606; 
    width: 200px; 
    height: 200px;
}
.dot{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0;
}
.form-popup {
    display: none;
    position: fixed;
    left: 90px;
    top: 54px;
    border: 3px solid #f1f1f1;
  }
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }


.modal-backdrop {
    z-index: -1;
  }
.but {
    margin-top: 12%;
    left: 12px;
    border: 0;
    position:absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    opacity: 0;
  }  